set number
set relativenumber

set hlsearch
set incsearch
set ignorecase
set smartcase

" indentation
set autoindent
set smartindent
set expandtab
set smarttab
set shiftwidth=2
set tabstop=2

" no error bells
set visualbell
set noerrorbells

" scroll
set scrolloff=8

" re-maps
inoremap jj <Esc>

noremap J 2j
noremap K 2k
nnoremap ,r :action ContextRun<CR>
nnoremap ,c :action RunClass<CR>
nnoremap ,u :action Rerun<CR>
nnoremap ;q :action CloseContent<CR>
nnoremap ;a :action CloseAllEditors<CR>
nnoremap ;x :action CloseAllEditorsButActive<CR>

" Navigation
nnoremap c- :action SplitHorizontally<CR>
nnoremap c\ :action SplitVertically<CR>
nnoremap cm :action MoveEditorToOppositeTabGroup<CR>
nnoremap <c-f> :action GotoFile<CR>
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

nnoremap <TAB> :action PreviousTab<CR>
nnoremap <s-TAB> :action NextTab<CR>

sethandler <S-k> n:vim
sethandler <c-j> a:vim
sethandler <c-k> a:vim

"" -- Suggested options --
"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

let mapleader=" "

nnoremap <leader><CR> :noh<CR>
nnoremap <leader>r :action RenameElement<CR>
nnoremap <leader>cm :action ExtractMethod<CR>
nnoremap <leader>cv :action IntroduceVariable<CR>
nnoremap <leader>cc :action IntroduceConstant<CR>
nnoremap <leader>cn :action Inline<CR>
nnoremap <leader>ga :action GotoImplementation<CR>

nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>

" Find more examples here: https://jb.gg/share-ideavimrc

" Plugins

" Easy motion plugin
" Emulates vim-easymotion
" Make sure to install IdeaVim-EasyMotion and AceJump Plugins
" See https://github.com/AlexPl292/IdeaVim-EasyMotion#supported-commands for details
" Plug 'easymotion/vim-easymotion'
set easymotion
map <leader>J <Plug>(easymotion-s)
map <leader>j <Plug>(easymotion-f)

" NERDTree plugin
" Emulates NERDTree
" Basic Commands:
"   Ctrl-n  Open NERDTree (mapped bellow)
"   q	    Close the NERDTree window
"   o   	Open files, directories and bookmarks
"   go   	Open selected file, but leave cursor in the NERDTree
"   i   	Open selected file in a split window
"   gi   	Same as i, but leave the cursor on the NERDTree
"   s   	Open selected file in a new vsplit
"   gs   	Same as s, but leave the cursor on the NERDTree
"   <C-J>	Jump down to next sibling of the current directory
"   <C-K>	Jump up to previous sibling of the current directory
"   R	    Recursively refresh the current root
"   m	    Display the NERDTree menu
" See  https://github.com/JetBrains/ideavim/wiki/NERDTree-support for details
set NERDTree
map <c-n> :NERDTree<CR>

" Surround Plugin
" Emulates vim-surround. Mappings to easily delete, change and add such surroundings in pairs
" Basic Commands:
"   cs   Change surroundings
"   cst  Change surroundings tag
"   ds   Delete surroundings
"   dst  Delete surroundings tag
"   ys   Surround text object
" See https://github.com/tpope/vim-surround/blob/master/doc/surround.txt for details
set surround

" Multiple-cursors plugin
" Emulates vim-multiple-cursors
" Basic Commands:
"   <C-n> start multicursor
"   <C-n> next match
"   <C-x> skip next match
"   <C-p> remove current match and go back to previous one
" See https://github.com/terryma/vim-multiple-cursors for details
set multiple-cursors
map mc <A-n>
map mx <A-x>
map mp <A-p>

" Commentary
set vim-commentary

" gcc - Comment/uncomment current line
" gc -  Comment/uncomment lines with motion, also selected text
" gcap -  Comment/uncomment current paragraph
